.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.row-select {
    background-color: #ebebeb7a;
}
.expand-symbol {
    color: green;
    border: 1px solid green;
    background-color: transparent;
    text-align: center;
    line-height: 12px;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 6px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.expand-symbol:hover {
    box-shadow: 1px 1px 5px -2px rgba(0, 128, 0, 0.8);
}
.type-symbol {
    width: 16px;
    color: green;
}
.key {
    color: red;
}
.link-symbol {
    color: green;
}
.value {
    color: blue;
}
.hide {
    display: none;
}
.alignLeft {
    margin-left: 34px;
}